.Portfolio {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}
.Portfolio h1 {
    font-size: 4rem;
    font-family: "Roboto Slab", serif;
}
.Statistics {
    width: 80%;
    margin: 3rem auto 0;
    text-align: center;
}
.Statistics .StatisticsBox {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Statistics .StatisticsBox .StatisticsItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Statistics .StatisticsBox .StatisticsItem ion-icon {
    font-size: 6.4rem;
}
.Statistics .StatisticsBox .StatisticsItem p {
    font-size: 2rem;
}
.Statistics .StatisticsBox .StatisticsItem span {
    color: var(--color-primary);
    font-weight: 900;
}
.Portfolio .Skills {
    text-align: center;
    /* margin-top: 0.5rem; */
    width: 80%;
    margin: 0.5rem auto 0;
}

.Portfolio .Skills .SkillsBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Portfolio .SkillsSetsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.Portfolio .SkillsSetsBarBox {
    display: flex;

    flex-direction: column;
    margin-top: 3rem;
}
.Portfolio .Skills .SkillsBar {
    display: flex;
    justify-content: center;

    align-items: center;
}

/* Projects */
.Portfolio .Projects {
    padding: 0 3rem;
    width: 85%;
    margin: 3rem auto 0;
}
.Projects .ProjectsBox {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 1199px) {
    .Portfolio .Projects {
        width: 100%;
        margin: 3rem auto 0;
    }
}

@media only screen and (max-width: 992px) {
    .Portfolio .Skills .SkillsBox {
        flex-direction: column;
    }
    .Portfolio .Skills .SkillsBar {
        flex-direction: column;
    }

    .Statistics {
        width: 90%;
    }
    .Projects .ProjectsBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .Statistics {
        width: 100%;
    }
    .Projects .ProjectsBox {
        gap: 1rem;
    }
    .Portfolio .Projects {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .Portfolio .SkillsSetsBox {
        flex-direction: column;
        margin-top: 2rem;
    }
    .Portfolio .Skills {
        width: 100%;
    }

    .Statistics .StatisticsBox {
        flex-direction: column;
    }
    .Statistics .StatisticsBox .StatisticsItem {
        padding: 1.5rem 0;
    }
    .Projects .ProjectsBox {
        grid-template-columns: 1fr;
    }
}
