.Loader {
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    animation: loader 1.7s ease infinite;
    -webkit-animation: loader 1.7s ease infinite;
    overflow: hidden;
}

@keyframes loader {
    0% {
        transform: translateX(-200%);
        -webkit-transform: translateX();
        -moz-transform: translateX();
        -ms-transform: translateX();
        -o-transform: translateX();
    }
    50% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
    }
}
