.About {
    width: 100%;
    padding: 4rem 0 0;
}
.Intro {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Intro .IntroImg {
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.Intro .IntroImg img {
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.Intro .IntroText {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.Intro .IntroText h1 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.5rem;
}

.Intro .IntroText p {
    font-size: 1.7rem;
}
@media only screen and (max-width: 768px) {
    .Intro {
        width: 85%;
    }
}
@media only screen and (max-width: 576px) {
    .Intro {
        width: 95%;
    }
}
