.Button {
    border-radius: 10rem;
    padding: 1.2rem 2rem;
    background-color: var(--color-primary);
    /*background-color: #7f51a9;
    */ /*background-color: #6f57af;
    */
    border: none;
    cursor: pointer;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;

    color: var(--foreground);
    font-size: 1.55rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    outline: none;
}

.animation {
    animation: fadeInButton 0.3s linear;
    -webkit-animation: fadeInButton 0.3s linear;
}
.disabled {
    cursor: not-allowed;
}
.Button:hover {
    background-color: var(--color-primary-light);
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
        transform: translateY(10rem);
        -webkit-transform: translateY(10rem);
        -moz-transform: translateY(10rem);
        -ms-transform: translateY(10rem);
        -o-transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
