.Home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../../assets/imgs/altumcode-dMUt0X3f59Q-unsplash.jpg");
    background-position: center;
    background-size: cover;
}
.Hero {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Home h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2rem;
    font-family: "Poppins", sans-serif;
    animation: fadeInh2 0.5s linear;
    -webkit-animation: fadeInh2 0.5s linear;
    margin-bottom: 2rem;
}
.Home h1 {
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 3rem;
    font-family: "Poppins", sans-serif;
    animation: fadeInh1 0.5s linear;
    -webkit-animation: fadeInh1 0.5s linear;
}

@keyframes fadeInh2 {
    0% {
        transform: translateX(2rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
    }
    50% {
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes fadeInh1 {
    0% {
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }
    50% {
        transform: translateX(2rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes fadeInBtn {
    0% {
        opacity: 0;
        transform: translateY(10rem);
        -webkit-transform: translateY(10rem);
        -moz-transform: translateY(10rem);
        -ms-transform: translateY(10rem);
        -o-transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
