.Contact {
    /* width: 110rem; */
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 8rem 2rem 0;
}
.Contact .Info {
    width: 100%;
    animation: slideInInfo 0.5s;
    -webkit-animation: slideInInfo 0.5s;
}
.Contact h2 {
    font-size: 3.2rem;
    font-weight: 400;
}
.Contact .Info ul {
    list-style: none;
    padding: 1rem 0;
}
.Contact .Info li {
    display: flex;
    padding: 1rem;
    align-items: center;
}
.Contact .Info .InfoBox {
    margin-bottom: 1rem;
}
.Contact .Info span {
    font-size: 1.8rem;
    margin-left: 2rem;
}
.Contact .Info .SocialList {
    display: flex;
}
.Contact .Info .SocialList a {
    color: var(--color-primary);
}
.Contact .Info .SocialList a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.Contact .Form {
    width: 100%;

    animation: slideInForm 0.5s;
    display: grid;
    gap: 2rem;
    -webkit-animation: slideInForm 0.5s;
}

.Contact .Form .Input {
    background-color: var(--color-dark-2);
    border: none;
    border-bottom: 1px solid transparent;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    color: var(--foreground);
}
.Contact .Form .Input:focus {
    outline: none;
}
.Contact .Form button {
    justify-self: center;
}
@media only screen and (min-width: 1199px) {
    .Contact {
        width: 115rem;
    }
}
@media only screen and (max-width: 992px) {
    .Contact {
        width: 95%;
    }
}
@media only screen and (max-width: 768px) {
    .Contact {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 1rem 3rem 2rem;
        text-align: center;
    }
    .List {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 480px) {
    .Contact {
        padding: 1rem 0.5rem 2rem;
    }
    .Contact h2 {
        font-size: 3rem;
        font-weight: 400;
    }
}
@keyframes slideInInfo {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slideInForm {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
