.Blog {
    width: 100%;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.Blog .BlogItem {
    width: 100%;
    background-color: var(--color-dark-2);
    color: var(--foreground);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}
.Blog .BlogItem:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.Blog .BlogItem .ItemImage {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.Blog .BlogItem .ItemImage img {
    width: 100%;
    opacity: 0;
}
.Blog .BlogItem .ItemText {
    margin-top: -1rem;
    padding: 0 2rem 2rem 2rem;
    font-size: 1.6rem;
}
.tag {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}
.time {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    color: var(--color-light-2);
    justify-content: space-between;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
    .Blog {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 576px) {
    .Blog {
        grid-template-columns: 1fr;
        padding: 1rem 1rem;
    }
}
