.FullBlog {
    width: 76rem;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    color: var(--foreground);
}
.FullBlog h2 {
    font-size: 3.5rem;
}
.FullBlog .Time {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.FullBlog .Time p {
    font-size: 1.8rem;
    color: var(--color-light-2);
}
.FullBlog .Time p:not(:first-child) {
    margin-left: 2rem;
}
.FullBlog .Image {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.FullBlog .Image img {
    width: 100%;
    opacity: 1;
}
.FullBlog .Body {
    width: 100%;
    margin: auto;
    margin-top: -6.5rem !important;
    background-color: var(--color-dark-2);
    padding: 7rem 2rem 1rem;
    font-size: 1.7rem;
    text-align: left;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    line-height: 1.6;
    color: var(--foreground);
}
.FullBlog .Body .Code {
    width: 100%;
    background-color: var(--color-dark);
    padding: 2rem;
    color: var(--foreground);
    margin-top: 1.5rem;
}
.FullBlog .Body .Text {
    width: 100%;
    margin-top: 1.5rem;
}
.FullBlog .Body .Img {
    width: 100%;
    margin-top: 1.5rem;
}
.FullBlog .Body .Link {
    width: 100%;
    margin-top: 1.5rem;
    display: inline-block;
    color: var(--color-primary);
}
.FullBlog .Body .Heading {
    margin-top: 1.5rem;
}
@media only screen and (max-width: 768px) {
    .FullBlog {
        width: 100%;
        padding: 1rem 0.5rem 0.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .FullBlog h2 {
        font-size: 2.7rem;
    }
    .FullBlog .Time p {
        font-size: 1.6rem;
    }
    .FullBlog .Time {
        flex-direction: column;
        align-items: flex-start;
    }
    .FullBlog .Time span {
        margin-left: 0 !important;
        width: 15rem !important;
    }
    .FullBlog .Time p:not(:first-child) {
        margin-left: 0rem;
    }
    .FullBlog .Body {
        padding: 7rem 0.5rem 0.5rem;
    }
}
