.Toast {
    position: absolute;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    top: -100%;
    left: 50%;
    font-size: 1.5rem;
    border-radius: 10rem;
    z-index: 500;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.Toast.Show {
    top: 10rem;
}
